/* AgregarServicio.css */

.agregar-servicio-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

.servicio-select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.confirmar-agregar-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block; /* Para que el margin auto funcione */
    margin: 0 auto; /* Centrado horizontal */
}

.confirmar-agregar-button:hover {
    background-color: #45a049;
}

.message {
    margin-top: 15px;
    font-weight: bold;
    color: #333;
}
