/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f4f4f9;
  overflow: hidden; /* Evita cualquier desbordamiento en el body */
}

.container {
  max-width: 25rem; /* Aproximadamente 400px */
  width: 100%;
  padding: 1.25rem; /* 20px */
  background-color: #1a1a1a;
  border-radius: 0.5rem; /* 8px */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
  box-sizing: border-box; /* Incluye el padding dentro del ancho del contenedor */
  overflow: hidden; /* Evita desbordamientos dentro del contenedor */
}

h2 {
  color: #f4f4f9;
  margin-bottom: 1.25rem;
  font-weight: bold;
}

input {
  width: calc(100% - 1rem); /* Ajusta el ancho tomando en cuenta el padding */
  padding: 0.75rem; /* 12px */
  margin: 0.625rem 0; /* 10px */
  border-radius: 0.3125rem;
  border: 1px solid #ddd;
  font-size: 1rem;
  height: 2.5rem;
  color: #f4f4f9;
  background-color: #333;
  box-sizing: border-box; /* Asegura que el padding no cause desbordamiento */
}

button {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.3125rem;
  margin-top: 0.625rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 2.5rem;
  box-sizing: border-box; /* Asegura que el padding no cause desbordamiento */
}

button:hover {
  background-color: #0056b3;
}

p {
  color: #f4f4f9;
  font-size: 0.875rem;
  margin: 0.9375rem 0 0.3125rem;
}

p.error {
  color: red;
  font-weight: bold;
  margin-top: 0.625rem;
}

.register-button {
  background-color: #28a745;
  height: 2.5rem;
}

.register-button:hover {
  background-color: #218838;
}
